main {
  padding-top: 60px;
  gap: 89px;
  display: inline-flex;
  text-align: center;
  margin: 0;
  width: 100%;
}

.block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.gamers {
  text-align: left;
  vertical-align: top;
  margin-left: 40px;
  width: 500px;
  height: 224px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 5px var(--shadow);
}

.title-gamers {
  text-align: left;
  padding: 24px;
  font-size: 24px;
  font-weight: bold;
}

.gamer {
  text-align: left;
  vertical-align: top;
  padding-right: 24px;
  padding-left: 24px;
}

.image-gamers {
  display: inline;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.full-name {
  display: inline;
  padding-left: 12px;
  font-size: 24px;
}

.percent {
  padding-left: 40px;
  color: var(--grey);
  font-size: 14px;
  margin-bottom: 20px;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.timer {
  text-align: center;
  width: 139px;
  height: 88px;
  background: var(--timerColor);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  vertical-align: middle;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}

.field {
  margin-top: 40px;
  width: 663px;
  height: 663px;
  background: var(--shadow);
  border-radius: 20px;
  box-shadow: 0px 4px 20px 5px var(--shadow);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.input-field {
  width: 218.33px;
  height: 218.33px;
  border-radius: 12px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-field {
  text-align: center;
  width: 150px;
  height: 150px;
}

.step {
  margin-top: 40px;
  width: 400px;
  height: 48px;
  background: var(--fontColor);
  border-radius: 12px;
  font-size: 20px;
  color: white;
}

.chat {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-input {
  background: white;
  border-color: var(--shadow);
  border-radius: 12px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  line-height: 12px;
  padding: 0px 20px;
}

.send {
  background: var(--green);
  border-radius: 12px;
  width: 68px;
  height: 48px;
  margin-left: 12px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-acivity{
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.chat-field {
  width: 100%;
  margin-right: 40px;
}

.bubble {
  width: 70%;
  background: white;
  box-shadow: 0px 4px 20px 5px var(--shadow);
  border-radius: 12px;
  padding: 12px;
  margin: 12px 0px;
}

.m-row {
  display: flex;
  justify-content: space-between;
}

.m-fullName {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.m-time {
  font-size: 14px;
  text-align: left;
  color: var(--grey);
}

.m-text {
  text-align: left;
  font-size: 18px;
  padding-top: 8px;
}